/* .content-wrapper, .main-footer{
    margin-left: 0px !important;
}
.main-header {
   height: 63px;
   background-color: white !important;
   box-shadow: 0 2px 12px grey;
}
.skin-blue .main-header .navbar {
    background-color: transparent;
}
.skin-blue .main-header .navbar .nav>li>a {
    color: black !important;
} */
.active{
    color: white !important;
}
.logo-center {
    margin: 8px auto;
}
app-content{
    display: block;
	height: 100%;
}