<div class="side">
  <ul class="sidebar-menu" data-widget="tree">
    <li class="treeview active">
      <a routerLink="home" routerLinkActive="active">
        <i class="fa fa-home"></i>
        <span>个股推荐</span>
      </a>
    </li>
    <li class="treeview">
      <a routerLink="chart" routerLinkActive="active">
        <i class="fa fa-bars"></i>
        <span>策略组合</span>
      </a>

    </li>
    <li class="treeview">
      <a href="#">
        <i class="fa fa-bars"></i>
        <span>调整记录</span>
        <span class="pull-right-container">
          <i class="fa fa-angle-left pull-right"></i>
        </span>
      </a>
      <ul class="treeview-menu">
        <li>
          <a routerLink="chart" routerLinkActive="active">
            <i class="fa fa-circle-o"></i> 图表</a>
        </li>
      </ul>
    </li>
    <li class="treeview">
      <a>
        <i class="fa fa-cogs"></i>
        <span>策略设置</span>
      </a>
    </li>
    <li class="treeview">
      <a href="#">
        <i class="fa fa-building"></i>
        <span>推荐</span>
      </a>

    </li>
    <!-- <li class="treeview active">
      <a href="#">
        <i class="fa fa-files-o"></i>
        <span>推荐</span>
        <span class="pull-right-container">
          <i class="fa fa-angle-left pull-right"></i>
        </span>
      </a>
      <ul class="treeview-menu">
        <li>
          <a href="pages/layout/top-nav.html">
            <i class="fa fa-circle-o"></i> Top Navigation</a>
        </li>
        <li>
          <a href="pages/layout/boxed.html">
            <i class="fa fa-circle-o"></i> Boxed</a>
        </li>
        <li>
          <a href="pages/layout/fixed.html">
            <i class="fa fa-circle-o"></i> Fixed</a>
        </li>
        <li>
          <a href="pages/layout/collapsed-sidebar.html">
            <i class="fa fa-circle-o"></i> Collapsed Sidebar</a>
        </li>
      </ul>
    </li> -->
  </ul>
</div>
